<%= form_tag analysis_url_path do %>
  <div class="row">
    <div class="col"></div>
    <div class="col s11">
      <div class="input-field">
        <i class="material-icons prefix">link</i>
        <%= text_field_tag "url", "", :class => "validate" %>
        <label for="url">Url</label>
      </div>
    </div>
  </div>

  <div class="row">

    <% @vulnerabilities.each do |vulnerability| %>
    <div class="col s1 l2"></div>
      <div class="col s5">
        <p>
          <label>
            <%= check_box_tag "vulnerabilities[]", vulnerability.alias, vulnerability.id == 1 ? true : false, class: 'checkbox'  %>
            <span class="flow-text"><%= vulnerability.name %></span>
          </label>
        </p>
      </div>
    <% end %>
  </div>

  <div class="row">

      <div class="col s6 push-s1 push-l2 ">

        <a id="selectAll" class="btn waves-effect waves-light light-blue darken-4" data-checked="false" onclick="selectAll()"><i class="material-icons right white-text">select_all</i>Select all</a>

      </div>

      <div class="col s5 push-s1">
        <%= button_tag 'scan', id: "scan", class: "btn waves-effect waves-light orange darken-4", :disabled => true do %>
          SCAN
          <i class="material-icons right white-text">search</i>
        <% end %>
      </div>


  </div>
<% end %>