<%= form_tag analysis_url_path do %>
<<<<<<< Updated upstream
  <div class="col s6">
    <div class="input-field">
      <i class="material-icons prefix">link</i>
      <%= text_field_tag "url", "", :class => "validate" %>
      <label for="url">Url</label>
    </div>
  </div>
  <div class="col s5">
    <div class="row">
      <% @vulnerabilities.each do |vulnerability| %>
        <div class="col s6">
          <p>
            <label>
              <%= check_box_tag "vulnerabilities[]", vulnerability.alias %>
              <span class="flow-text"><%= vulnerability.name %></span>
            </label>
          </p>
=======
  <div class="row">
    <div class="col s12">
      <div class="input-field col s12 l6">
        <i class="material-icons prefix">link</i>
        <%= text_field_tag "url", "", :class => "validate" %>
        <label for="url">Url</label>
      </div>
      <div class="input-field col s12 l6">
        <i class="material-icons prefix">link</i>
        <%= text_field_tag "authentication", "", :class => "" %>
        <label for="url">Authentication Token ( optional )</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <% @vulnerabilities.each do |vulnerability| %>
        <div class="col s12 m4">
          <label>
            <%= check_box_tag "vulnerabilities[]", vulnerability.alias, false, class: 'checkbox' %>
            <span class="flow-text"><%= vulnerability.name %></span>
          </label>
>>>>>>> Stashed changes
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
<<<<<<< Updated upstream
    <div class="col s12 center">
      <%= button_tag 'scan', class: "btn waves-effect waves-light orange darken-4" do %>
=======
    <div class="col s6 center-element">
      <a id="selectAll" class="waves-effect waves-light btn-small light-blue darken-4" onclick="selectAll()"><i class="material-icons right white-text">select_all</i>Select
        all</a>
    </div>
    <div class="col s6 center-element">
      <%= button_tag 'scan', id: "scan", class: "btn waves-effect waves-light orange darken-4", :disabled => true do %>
>>>>>>> Stashed changes
        SCAN
        <i class="material-icons right white-text">search</i>
      <% end %>
    </div>
  </div>
<% end %>
